@using Web.Models
@using Web.Services
@using global::Models

@inject IJSRuntime JsRuntime
@inject IDialogService DialogService

<br />
<br />

<MudText Typo="Typo.h3" Color="Color.Primary">My File Explorer</MudText>
<br />
<MudGrid Justify="Justify.Center">
    <MudItem xl="1"></MudItem>
    <MudItem xl="10">
        <MudCard Class="treeViewCard">
            @if (!IsFolderEmpty())
            {
                <MudTreeView Dense="false" Items="@UserFolderFiles" Hover="true" Width="100%" Height="100%">
                    <ItemTemplate Context="file">
                        <MudTreeViewItem Items="@file.FileSOItem" Icon="@file.FSIconType" IconColor="@file.Color">
                            <BodyContent>
                                <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                                    @if (windowWidth < 1000)
                                    {
                                        <MudText Style="justify-self: start;">@file.Name</MudText>
                                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary">
                                            @if (file.FSIconType == Icons.Material.Filled.Folder)
                                            {
                                                <MudMenuItem>
                                                    <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense>
                                                 <ActivatorContent>
                                                     <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" />
                                                 </ActivatorContent>
                                                 <ChildContent>
                                                     <MudMenuItem>
                                                         <MudButton OnClick="@(()=> OpenUploadFolderDialog(file.Id))">Folder<MudIcon Icon="@Icons.Material.Filled.Folder" Size="Size.Medium" Color="Color.Warning" /></MudButton>
                                                     </MudMenuItem>
                                                     <MudMenuItem>
                                                         <MudButton OnClick="@(()=> OpenUploadFileDialog(file.Id))">File<MudIcon Icon="@Icons.Custom.FileFormats.FileDocument" Size="Size.Medium" Color="Color.Info" /></MudButton>
                                                     </MudMenuItem>
                                                 </ChildContent>
                                             </MudMenu>
                                         </MudMenuItem>
                                            }
                                            @if (file.FSIconType == Icons.Custom.FileFormats.FileDocument)
                                            {
                                                <MudMenuItem>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Download" Size="Size.Medium" Color="Color.Secondary" OnClick="() => Session.DownloadFileAsync(file.Id)" />
                                                </MudMenuItem>
                                            }
                                            <MudMenuItem>
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Medium" Color="Color.Info" OnClick="()=> OpenUpdateFileFolderDialog(file.Id, file.Type)" />
                                            </MudMenuItem>
                                            <MudMenuItem>
                                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Error" OnClick="()=> OpenDeleteFileFolderDialog(file.Id, file.Type)" />
                                            </MudMenuItem>
                                        </MudMenu>
                                    }
                                    @* if not mobile *@
                                    else
                                    {
                                        <MudText Style="justify-self: start;">@file.Name</MudText>
                                        <div style="justify-self: end;">
                                            @if (file.FSIconType == Icons.Material.Filled.Folder)
                                            {
                                                <MudMenu Class="pt-2" ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense>
                                             <ActivatorContent>
                                                 <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" />
                                             </ActivatorContent>
                                             <ChildContent>
                                                 <MudMenuItem>
                                                     <MudButton OnClick="@(()=> OpenUploadFolderDialog(file.Id))">Folder<MudIcon Icon="@Icons.Material.Filled.Folder" Size="Size.Medium" Color="Color.Warning" /></MudButton>
                                                 </MudMenuItem>
                                                 <MudMenuItem>
                                                     <MudButton OnClick="@(()=> OpenUploadFileDialog(file.Id))">File<MudIcon Icon="@Icons.Custom.FileFormats.FileDocument" Size="Size.Medium" Color="Color.Info" /></MudButton>
                                                 </MudMenuItem>
                                             </ChildContent>
                                         </MudMenu>
                                            }
                                            @if (file.FSIconType == Icons.Custom.FileFormats.FileDocument)
                                            {
                                                <MudIconButton Class="mb-3" Icon="@Icons.Material.Filled.Download" Size="Size.Medium" Color="Color.Secondary" OnClick="() => Session.DownloadFileAsync(file.Id)" />
                                            }
                                            <MudIconButton Class="mb-3" Icon="@Icons.Material.Filled.Edit" Size="Size.Medium" Color="Color.Info" OnClick="() => OpenUpdateFileFolderDialog(file.Id, file.Type)" />
                                            <MudIconButton Class="mb-3" Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Error" OnClick="()=> OpenDeleteFileFolderDialog(file.Id, file.Type)" />
                                        </div>
                                    }
                                </div>
                            </BodyContent>
                        </MudTreeViewItem>
                    </ItemTemplate>
                </MudTreeView>
            }
            else
            {
                <MudText Class="pt-5" Typo="Typo.h6">No files available</MudText>
                <MudText Class="pb-5" Typo="Typo.h6">Create new folder below to get started!</MudText>
            }
            <MudSpacer />
            <MudSpacer />

            <MudButton Size="Size.Large" Class="w-100 py-3" OnClick="@(()=> OpenUploadFolderDialog(0))">Add folder<MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Color="Color.Success" /></MudButton>
        </MudCard>
    </MudItem>
    <MudItem xl="1"></MudItem>
</MudGrid>

<style>
    .treeViewCard {
        background-color: #424242;
        min-height: 700px;
        min-width: 100%;
    }

    .trashCan {
        color: #b1b3b1;
    }

    .titleColor {
        color: #d1daff;
        padding: 0px;
    }

    @@media only screen and (max-width : 1919px) {
        .treeViewCard {
            width: 1000px;
        }
    }

    @@media only screen and (max-width: 1160px) {
        .treeViewCard {
            width: 500px;
        }
    }

    @@media only screen and (max-width: 600px) {
        .treeViewCard {
            width: 300px;
        }
    }
</style>